# Environment variables
.env

# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# IDE and editor-specific files
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Deployment files
*.zip
*.tar.gz

# Other files
*.bak
*.swp
